.home-conteiner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
    overflow-x: hidden;
}
.left-box-home{
    width: 500px;
    height: auto;
    position: absolute;
    left: 20%;
    top: 200px;
    animation: fadeIn 1s ease-in both;
}
p{
    margin:0;
    padding: 0;
}
.font-size-name{
    font-size: 72px;
    font-family: 'Lato', sans-serif;
    text-align: left;
}
.font-size-text-2{
    font-size: 26px;
    text-align: left;
    color: #2C2F33;
    font-family: 'Lato', sans-serif;
}
.font-size-text{
    font-size: 18px;
    text-align: left;
    color: #2C2F33;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.icons-profiles{
    display: flex;
    position: relative;
    top: 140px;
    left: 0px;
}
.icons-profiles-linkedin a{
    font-size: 40px;
    color: #0E76A8;
}
.icons-profiles-git a{
    font-size: 40px;
    color: black;
}
.icons-profiles-instagram a{
    font-size: 45px;
    color: black;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}