.navbar-conteiner{
    display: flex;
    width: 100%;
    height: 50px;
    background-color:rgba(255,255,255,0.9);;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.icon-logo{
    display: flex;
    font-size: 40px;
    position: relative;
    left: 220px;
    top: 5px;
    color: #7510F7;
}
.logo{
    display: flex;
    margin-left: 220px ;
    height: 40px;
    align-items: center;
    font-size: 22px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    color: #7510F7;
}

.menu-conteiner{
    position: relative;
    left: 35%;
    height: 40px;
    display: flex;
    width: auto;
    align-items: center;
}
.menu-links{
    display: flex;
    list-style-type: none;
}
.menu-links li{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #2C2F33;
    font-weight: bold;
    transition: 600ms;
}
a:hover{
    font-size: 16px;
    transition: 500ms;
}